<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Nautilux Intervention</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body ng-app="testNautilux" ng-controller="TestNautiluxCtr">
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <h1>Nautilux Test</h1>
        <button type="button" class="btn btn-primary" id="button" data-bs-toggle="modal" data-bs-target="#interventionModal">
            Ajouter une intervention
        </button>
    </div>
</nav>
<div class="modal fade" id="interventionModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" ng-if="!editing">Ajouter une intervention</h1>
                <h1 class="modal-title fs-5" id="UpdateModalLabel" ng-if="editing">Modifier l'intervention</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" ng-click="cancelOp()" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="title" class="form-label">Libellé</label>
                    <input type="text" class="form-control" id="title" placeholder="Titre de l'intervention" ng-model="intervention.label" required>
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" placeholder="Description" ng-model="intervention.description" required="required"></textarea>
                    <label for="operatorName" class="form-label">Nom de l'opérateur</label>
                    <input type="text" class="form-control" id="operatorName" placeholder="Nom de l'opérateur" ng-model="intervention.operator_name">
                    <label for="site" class="form-label">Lieu</label>
                    <input type="text" class="form-control" id="site" placeholder="Lieu" ng-model="intervention.site" required>
                    <label for="interventionDate" class="form-label">Date de l'intervention</label>
                    <input type="text" class="form-control" id="interventionDate" placeholder="YYYY-mm-dd" ng-model="intervention.intervention_date">
                    <label for="interventionStatus" class="form-label">Status</label>
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" ng-model="intervention.status" aria-label="Floating label select example">
                            <option selected></option>
                            <option value="Brouillon">Brouillon</option>
                            <option value="Validé">Validé</option>
                            <option value="Terminé">Terminé</option>
                        </select>
                        <label for="floatingSelect">Status</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="cancelOp()">Close</button>
                <button type="button" class="btn btn-primary" id="button" data-bs-dismiss="modal"  ng-if="!editing" ng-click="addIntervention(intervention)">Add Intervention</button>
                <button type="button" class="btn btn-primary" id="button" data-bs-dismiss="modal" ng-if="editing " ng-click="saveEdit(intervention)">Sauver les modifications</button>
            </div>
        </div>
    </div>
</div>
<div class="title">
    <h2 class="title">Liste des  Interventions</h2>
</div>
<div class="input-group flex-nowrap" ng-hide="!show">
    <span class="input-group-text" id="addon-wrapping">Filtres</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" ng-model="interventionFilter">
</div>
<div class="ms-5 me-5">
    <table class="table table table-striped ps-2 pe-2" >
        <thead  id="button" >
        <tr>
            <th scope="col">Label</th>
            <th scope="col">Description</th>
            <th scope="col" ng-click="sortBy = 'operator_name'; reverse = !reverse">Nom de l'intervenant</th>
            <th scope="col" ng-click="sortBy = 'site'; reverse = !reverse">Lieu</th>
            <th scope="col" ng-click="sortBy = 'intervention_date'; reverse = !reverse">Date de l'intervention</th>
            <th scope="col" ng-click="sortBy = 'status'; reverse = !reverse">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="intervention in interventions |  orderBy:sortBy:reverse" >
            <td >{{ intervention.label }}</td>
            <td >{{ intervention.description }}</td>
            <td>{{ intervention.operator_name }}</td>
            <td>{{ intervention.site }}</td>
            <td>{{ intervention.intervention_date }}</td>
            <td>{{ intervention.status }}</td>
            <td>
                <button ng-hide="intervention.status === 'Terminé'" type="button"  id="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#interventionModal" ng-click="editIntervention(intervention)">
                    Modifier
                </button>
            </td>
            <td><button type="button" id="close" class="delete-btn btn-close" aria-label="Close" ng-click="deleteIntervention(intervention)"></button></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="angular/angular.js"></script>
<script src="scripts/app.js"></script>
<script src="components/interventions.ctr.js"></script>
<script src="components/interventions.factory.js"></script>
</body>
</html>